body {
    background-color: #121212;
    color: rgb(203, 203, 203);
    display: flex;
    font-family: 'Montserrat',
        sans-serif;

    margin: 0;
}

/* SIDEBAR */
#sidebar {
    background-color: black;
    width: 15%;
    min-width: 200px;
    height: 100vh;
}

.logo {
    width: 150px;
    padding: 15px;
}

#sidebar ul {
    width: 100%;
    padding: 1em 0px;
}

#sidebar ul li {
    margin: 0 1em;
    padding: 1em;
    list-style-type: none;
    /* interactions */
    user-select: none;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

#sidebar ul li:hover {
    color: white;
}

#sidebar ion-icon {
    margin-right: 10px;
}

/* MAIN CONTENT */

#content {
    width: 100%;
}

/* navbar */

#navbar {
    background-color: #0000008e;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
}

#navbar-left {
    display: flex;
    align-items: center;
}

#navbar ion-icon {
    font-size: 1.75em;
}

#search-wrapper {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    min-height: 40px;
    min-width: 300px;
}

#search-wrapper ion-icon {
    color: black;
    margin-left: 0.3em;
}

#search-wrapper input {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0.5em;
    width: 100%;
}

.navbar-arrow {
    padding: 0 0.4em;
}

#navbar-right {
    display: flex;
    align-items: center;
}

.navbar-btn {
    margin: 0 0.3em;
    padding: 0.5em 2em;

    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: inherit;
    font-weight: 600;
    letter-spacing: 2px;

}

#signup-btn {
    background-color: black;
    color: white;
}

/* card container */
#main {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 1em;
    cursor: pointer;
}

.media {
    position: relative;
}

.card img {
    width: 200px;
    height: 200px;
}

.card ion-icon {
    background-color: green;
    border-radius: 50px;
    color: white;
    padding: 1em;

    position: absolute;
    bottom: 1.5em;
    right: 1.5em;

    opacity: 0;
    transform: translateY(25%);
    transition: all 0.2s ease-in-out;
}

/* target ion icon on card hover */
.card:hover ion-icon {
    opacity: 1;
    transform: translateY(0%);
}

/* FOOTER */
#footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-between;

    width: 100%;
    min-height: 80px;
    min-width: 200px;

    background: linear-gradient(90deg, rgba(250, 93, 255, 1) 0%, rgba(0, 189, 255, 1) 100%);
}

#footer-txt {
    color: white;
    padding-left: 2em;
}

#footer button {
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;

    margin: auto 2em auto 0;
    padding: 1em 2em;

    color: black;
    font-weight: 600;
    font-family: inherit;
    letter-spacing: 2px;
}